body {
    font-family: 'Merriweather', serif;
}



section {
    height: 500px;
    background-color: azure;
    border: slategrey

}
.hero{
     background:salmon;
     height: 100vh;
     font-size: 40px;

}
footer{
    height: 500px;
    background-color: black;
    
}




nav {
    display: flex;
    justify-content: space-between;
}
ul {
    display: flex;
    list-style-type: none;
    width:500 px;
    justify-content: space-around;
}

li{
    width: 200px;
    text-decoration:none
}

h1 {
    font-size:70px;
    margin: 0;

}

h2 {
    font-size:80px;

}

p {
   margin:0;

}
.subtext{
    font-size: 14px;
    font-weight:300;
}
.hero-area {
display: flex;
flex-direction: column;
height: 100%;
justify-content: center;
}

.hero-text {
    margin-left:80px;
    margin-bottom: 200px;

}

.button {
    width: 200px;
    height: 60px;
    border-radius: 25px;
    background-color:lightsalmon;
    text-align:center;
    font-size: 30px;
    font-weight: 250;
    padding-top: 5px;

}
.button:hover{
    background-color: lightpink
}
 .button:active  {
     background-color: lightyellow;

 }

 .socials{
     padding-bottom:150px;
     font-family: 'Nanum Myeongjo', serif;
 }

 .social{
     margin:20px
 }
 .sub-section {
     display:flex;
     flex-direction: colum;
     padding:80px;
 }
}

.project-container {
    display: flex;
    justify-content: space-around;
}

@media only screen and (max-width: 1000px) {
    .project-container {
        display: flex;
        flex-wrap: wrap;
    }
}

.project-image {
    margin-top: 25px;
    width: 200px;
    border-radius: 120px;
}

hr {
    margin-left: 20px;
    margin-right: 20px;
}

.project-link {
    text-decoration: none;
    color: #ef744b;
}

a {
    text-decoration: none;
    color: white;
}

.hamburger {
    display: none;
}

.hamburger:focus{
    outline: 0;
}


@media only screen and (max-width: 1000px) {
    .hamburger {
        display: block;
        border: 0;
        background-color: transparent;
        color: white;
        font-size: 30px;
        margin: 20px;
        align-self: flex-end;
    }

    ul {
        display: none;
        background-color: lightskyblue
        margin: 0ppx;
    }

    ul.show {
        display: block;
    }

    nav {
        display: flex;
        flex-direction: column-reverse;
        background-color:white
    }
